application.home_IS_UNDEFINED
*.mp4
cookies.txt
updateResponse.*
$HOMEDRIVE$HOMEPATH/
logs
*.sublime*
Notepad++/
/doc
bin/*.class
*.out
conf/evolutions/backup/slinnbooks_*.sql
*.log
.idea*
*.iml
.cache
.classpath
.project
.settings
.target
project/project
project/target
target
tmp
.history
dist
*~
AwsCredentials.properties
BBCredentials.properties
logs
conf/cdnDev.conf
txLogs/
txLogs/*
.DS_Store
.svn/
cvs/
__MACOSX
RUNNING_PID
